@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "cairo", "sans-serif";
}

:root{
  --main-bg: radial-gradient(circle at top right, rgb(78, 78, 78) 0%, rgb(78, 78, 78) 1%,rgb(72, 72, 72) 1%, rgb(72, 72, 72) 10%,rgb(65, 65, 65) 10%, rgb(65, 65, 65) 22%,rgb(59, 59, 59) 22%, rgb(59, 59, 59) 23%,rgb(53, 53, 53) 23%, rgb(53, 53, 53) 28%,rgb(46, 46, 46) 28%, rgb(46, 46, 46) 37%,rgb(40, 40, 40) 37%, rgb(40, 40, 40) 100%);
}


.container {
  margin-top: 50px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #fcfcfc;
}

.swal2-input{
  font-weight: bold;
  border: 2px solid;
  border-radius: 8px;
  font-size: 20px;
  font-family: cairo;
}

.myName{
  text-decoration: none;
  font-size: 22px;
  color: black;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}

#example-table > table > thead > tr {
  background: var(--main-bg);
}

.HelloDiv > h2 {
  background: var(--main-bg) !important;
  color: white;
  padding: 0px 10px;
  border-radius: 7px;
}

.PersonName{
  background: white;
  color: black !important;
  padding: 0px 5px;
  font-family: sans-serif;
  border: none;
  border-radius: 10px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 260px;
  background-color: #ffffff;
  padding: 10px 30px 40px;
}

.card h3 {
  font-size: 22px;
  font-weight: 600;
  
}

.drop_box {
  width: 95%;
  max-width: 800px;
  margin: 10px 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px dotted #a3a3a3;
  border-radius: 5px;
}

.drop_box h4 {
  font-size: 16px;
  font-weight: 400;
  color: #2e2e2e;
}

.drop_box p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #a3a3a3;
}

.btn {
  text-decoration: none;
  background-color: #005af0;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  outline: none;
  transition: 0.3s;
}

.btn:hover{
  text-decoration: none;
  background-color: #ffffff;
  color: #005af0;
  padding: 10px 20px;
  border: none;
  outline: 1px solid #010101;
}
.form input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}




.link{
    text-decoration: none;
    background: green;
    color: white;
    padding: 10px;
    border-radius: 15px;
}


.signOut{
  background-color: darkred;
  border: none;
  border-radius: 15px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: none;
  cursor: pointer;
}



      /* Table Styles */

      .table-wrapper{
        box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    }

    .fl-table {
        border-radius: 5px;
        font-size: 20px;
        font-weight: normal;
        border: none;
        border-collapse: collapse;
        white-space: nowrap;
        background-color: white;
    }

    .fl-table td{
        text-align: center;
        padding: 3px;
        border: 2px solid #0a1951;
    }


    .fl-table th {
        text-align: center;
        padding: 8px;
        border: 2px solid black;
        font-weight: bold;
    }


    .fl-table td {
        border-right: 1px solid #f8f8f8;
        font-size: 20px;
        font-family: sans-serif;
    }


    .fl-table thead th {
        color: #ffffff;
        background: transparent;
    }

    .fl-table tr {
      border: 1px solid rgb(0, 0, 0);
    }


.fl-table{
  width: 98%;
  max-width: 1000px;
  margin: auto;
}


@media (min-width: 500px) {
  td{
    overflow-x: hidden !important;
  }
}