@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "cairo", "sans-serif";
}


* { /* Or what selector you need */
  unicode-bidi: plaintext;
  text-align: start; /* Align text automatically left/right*/
}

:root{
  --main-bg: radial-gradient(circle at top right, rgb(78, 78, 78) 0%, rgb(78, 78, 78) 1%,rgb(72, 72, 72) 1%, rgb(72, 72, 72) 10%,rgb(65, 65, 65) 10%, rgb(65, 65, 65) 22%,rgb(59, 59, 59) 22%, rgb(59, 59, 59) 23%,rgb(53, 53, 53) 23%, rgb(53, 53, 53) 28%,rgb(46, 46, 46) 28%, rgb(46, 46, 46) 37%,rgb(40, 40, 40) 37%, rgb(40, 40, 40) 100%);
}


.container {
  margin-top: 50px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #fcfcfc;
}

.swal2-input{
  font-weight: bold;
  border: 2px solid;
  border-radius: 8px;
  font-size: 20px;
  font-family: cairo;
}

.numberOfFilesSelect{
  display: none;
  color: #ff0000cf !important;
  font-size: 20px !important;
  font-family: cairo;
  font-weight: bold;
  margin: 0 !important;
}

.myName{
  text-decoration: none;
  font-size: 22px;
  color: black;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}

#example-table > table > thead > tr {
  background: var(--main-bg);
}

.HelloDiv > h2 {
  background: var(--main-bg) !important;
  color: white;
  padding: 0px 10px;
  border-radius: 7px;
}

.PersonName{
  background: white;
  color: black !important;
  padding: 0px 5px;
  font-family: sans-serif;
  border: none;
  border-radius: 10px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 260px;
  background-color: #ffffff;
  padding: 10px 30px 40px;
}

.card h3 {
  font-size: 22px;
  font-weight: 600;
  
}

.drop_box {
  width: 95%;
  max-width: 800px;
  margin: 10px 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px dotted #a3a3a3;
  border-radius: 20px;
}

.drop_box h4 {
  font-size: 16px;
  font-weight: 400;
  color: #2e2e2e;
}

.drop_box p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #a3a3a3;
}

.btn {
  text-decoration: none;
  background-color: #005af0;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  outline: none;
  transition: 0.3s;
}

.btn:hover{
  text-decoration: none;
  background-color: #ffffff;
  color: #005af0;
  padding: 10px 20px;
  border: none;
  outline: 1px solid #010101;
}
.form input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}


.area {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 4px dashed #000;
  background-image: url("https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/upload-512.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 64px 64px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  filter: alpha(opacity=50);
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  text-align: center;
}

.area input {
  opacity: 0;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
}

.area input:focus {
  outline: none;
}

.area .spinner {
  display: none;
  margin-top: 50%;
}

.area:hover,
.area.dragging,
.area.uploading {
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

.area.uploading {
  background: none;
}




.area{
  display: none;
  width: 80%;
  background-color: #00000069;
  height: 70vh;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  border: 5px dashed black;
  color: white;
  font-size: 50px;
  text-align: center;
}



@media (max-width: 500px){
  .area {
    width: 95%;
    background-color: #00000069;
    height: 51vh;
    position: fixed;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    border: 5px dashed black;
  }
}




.link{
    text-decoration: none;
    background: green;
    color: white;
    padding: 10px;
    border-radius: 15px;
}


.signOut{
  background-image: radial-gradient(circle at top right, rgb(65 34 34) 0%, rgb(114 12 12) 30%,rgb(106 36 36) 23%, rgb(146 6 6) 54%,rgb(136 18 18) 45%, rgb(136 18 18) 63%,rgb(141 5 28) 63%, rgb(177 23 23) 100%) !important;
  border: none;
  border-radius: 7px !important;
  padding: 5px 10px !important;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.btn{
  border-radius: 7px !important;
  background-image: radial-gradient(circle at 59% 30%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 78% 41%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 15% 80%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 45% 43%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 63% 9%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 71% 80%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 19% 0%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 62% 12%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 46% 76%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 59% 41%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 4% 53%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 16% 40%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 94% 48%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 47% 6%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 64% 65%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 58% 40%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 37% 3%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 42% 50%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 21% 78%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 5%,transparent 5%, transparent 100%),linear-gradient(135deg, hsla(233,81%,39%,1),hsla(218,81%,39%,1));
}

.btn:hover{
  color: white;
  opacity: 80%;
  border: none;
}


      /* Table Styles */

      .table-wrapper{
        box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    }

    .fl-table {
        border-radius: 5px;
        font-size: 20px;
        font-weight: normal;
        border: none;
        border-collapse: collapse;
        white-space: nowrap;
        background-color: white;
    }

    .fl-table td{
        text-align: center;
        padding: 3px;
        border: 2px solid #0a1951;
    }


    .fl-table th {
        text-align: center;
        padding: 8px;
        border: 2px solid black;
        font-weight: bold;
    }


    .fl-table td {
        border-right: 1px solid #f8f8f8;
        font-size: 20px;
        font-family: sans-serif;
    }


    .fl-table thead th {
        color: #ffffff;
        background: transparent;
    }

    .fl-table tr {
      border: 1px solid rgb(0, 0, 0);
    }


.fl-table{
  width: 98%;
  max-width: 1000px;
  margin: auto;
}


@media (min-width: 500px) {
  td{
    overflow-x: hidden !important;
  }
}